In [1]:
## Import Essential Libraries 
import os
from math import *
from scipy.stats import *
import numpy as np
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geocoder
import geopy
from geopy.geocoders import Nominatim
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, ElasticNet, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [2]:
df = pd.read_csv('final_data.csv')
df.head()

,rent,bedroom,bathrooms,area,furnishing,avalable_for,address,floor_number,facing,floor_type,...,no_room,pooja_room,study_room,others,servant_room,store_room,maintenance_amt,brok_amt,deposit_amt,mnt_amt
0,27000.0,3,2,0.0,Furnished,"Family , Bachelors (Women Only)","Shree Ganesh kalpataru co op hsg society, Gujr...",3,South,Not provided,...,1,0,0,0,0,0,0,0.0,125000.0,0.0
1,15000.0,2,1,0.0,Furnished,Bachelors (Men Only),"Chandranil Apartment, Yerwada, , Pune, Maharas...",2,North,Not provided,...,1,0,0,0,0,0,0,0.0,0.0,0.0
2,17000.0,2,2,900.0,Unfurnished,All,"Sagar D Wisteria Park, Vadgaon Budruk, , Pune,...",1,No Direction,Not provided,...,1,0,0,0,0,0,0,0.0,0.0,0.0
3,14000.0,2,2,875.0,Semifurnished,Family Only,"Kolte Patil Three Jewels, Katraj Kondhwa Road,...",4,East,Polished concrete,...,1,0,0,0,0,0,0,0.0,40000.0,0.0
4,24000.0,2,2,1330.0,Furnished,"Family , Bachelors (Men Only)","Sauhard, Nigdi, , Pune, Maharashtra",3,East,Stone,...,1,0,0,0,0,0,0,0.0,2.0,0.0

In [3]:
X=  df.drop('rent', axis = 1)
y =  df['rent']

In [4]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 2012)

In [5]:
print(X_train.shape, X_test.shape)

(10884, 29) (5361, 29)

In [6]:
y_train

12994    20000.0
8198     14000.0
3414     22999.0
10315    13000.0
6949      7500.0
          ...
11120    15000.0
4549     11000.0
4369     55000.0
13487    14000.0
5209     23000.0
Name: rent, Length: 10884, dtype: float64

In [7]:
train = X_train

In [8]:
train['rent'] = y_train

c:\users\anant sakhare\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
train['rent'].shape

(10884,)

In [10]:
test= X_test
test['rent'] = y_test

c:\users\anant sakhare\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
train.to_csv('train.csv', index_label= False)

In [12]:
test.to_csv('test.csv', index_label= False)