# Rental Data House Price Prediction  DataSet Cleaning Work. 

### This is my regression analysis project which will help to find out an approximate rent price estmiation if you are interested to rent your home.


<a href= 'https://www.99acres .com/'> 99acre</a> data has scrapped from website attached in hyper link

### First load all the files

In [1]:
import os 
import pandas as pd
filenames = os.listdir()
filenames = filenames[3:-1] # other cotain does not contain data. so wee dropped those files
# list_of_all_file

In [2]:
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename ,  skiprows=0))
main_data = pd.concat(dfs, ignore_index=  True)
main_data.head()

,rent,bedroom,bathrooms,additional_rooms,balcany,brokarage,area,furnishing,avalable_for,address,...,gate_community,corner_pro,parking,wheelchairadption,petfacility,aggDur,noticeDur,lightbill,powerbackup,propertyage
0,"27,000",3.0,2.0,Not given,NaN,"Deposit₹ 125,000/-",Super Built up area 958(89 sq.m.) sq.ft.,Furnished,"Family , Bachelors (Women Only)","in Shree Ganesh kalpataru co op hsg society, ...",...,Yes,NaN,1 Covered,NaN,NaN,None,0 Months,Charges not included,None,10+ Year Old
1,"15,000",2.0,1.0,Not given,NaN,NaN,Super Built up area 650(60.39 sq.m.) sq.ft.,Furnished,Bachelors (Men Only),"in Chandranil Apartment, Yerwada, , Pune, Mah...",...,NaN,NaN,NaN,NaN,NaN,None,0 Months,Charges included,None,5 to 10 Year Old
2,"17,000",2.0,2.0,Not given,2,NaN,Carpet area: 900 (83.61 sq.m.) sq.ft.,Unfurnished,All,"in Sagar D Wisteria Park, Vadgaon Budruk, , P...",...,NaN,NaN,1 Covered,NaN,NaN,None,0 Months,Charges included,None,1 to 5 Year Old
3,"14,000",2.0,2.0,Not given,2,"Deposit₹ 40,000/-",Super Built up area 1000(92.9 sq.m.)Built Up a...,Semifurnished,Family Only,"in Kolte Patil Three Jewels, Katraj Kondhwa R...",...,Yes,NaN,1 Open,Yes,Yes,11 Months,1 Months,Charges not included,Partial,1 to 5 Year Old
4,"24,000",2.0,2.0,Not given,2,Deposit2 months rent,Carpet area: 1330 (123.56 sq.m.) sq.ft.,Furnished,"Family , Bachelors (Men Only)","in Sauhard, Nigdi, , Pune, Maharashtra",...,NaN,NaN,1 Open,NaN,NaN,11 Months,1 Months,Charges not included,Partial,10+ Year Old

In [3]:
main_data.shape

(16875, 23)

We have around  16,000+  home data from  website, which contain 23  category of data in this file. Now create a copy of original data & try to clean all bugs inside in it.

In [4]:
# creating a copy 
df = main_data.copy()

In [5]:
# check all data types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16875 entries, 0 to 16874
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent               16245 non-null  object
 1   bedroom            16171 non-null  float64
 2   bathrooms          16192 non-null  float64
 3   additional_rooms   16875 non-null  object
 4   balcany            14733 non-null  object
 5   brokarage          14806 non-null  object
 6   area               16875 non-null  object
 7   furnishing         16243 non-null  object
 8   avalable_for       16875 non-null  object
 9   address            16249 non-null  object
 10  floor_number       15078 non-null  object
 11  facing             10972 non-null  object
 12  floor_type         9729 non-null   object
 13  gate_community     9516 non-null   object
 14  corner_pro         2301 non-null   object
 15  parking            13679 non-null  object
 16  wheelchairadption  2906 non-null   object
 17  petfacility        3627 non-null   object
 18  aggDur             16249 non-null  object
 19  noticeDur          16249 non-null  object
 20  lightbill          16249 non-null  object
 21  powerbackup        16249 non-null  object
 22  propertyage        16230 non-null  object
dtypes: float64(2), object(21)
memory usage: 3.0+ MB

based on data we need to change our data types too. beacause rent, brokage amount, area, floor number, aggDur, noticeDur, age must in int or float. remaining all are required as object dtypes.

In [6]:
# check for missing values
df.isnull().sum()

## most of every columns has missing values . We will check the website & every missing data has facility not available at ther place.
# around 630  rows has no data present so we will drop all those columns

rent                   630
bedroom                704
bathrooms              683
additional_rooms         0
balcany               2142
brokarage             2069
area                     0
furnishing             632
avalable_for             0
address                626
floor_number          1797
facing                5903
floor_type            7146
gate_community        7359
corner_pro           14574
parking               3196
wheelchairadption    13969
petfacility          13248
aggDur                 626
noticeDur              626
lightbill              626
powerbackup            626
propertyage            645
dtype: int64

In [7]:
a  = df[df['rent'].isnull()].index.to_list()

In [8]:
df.iloc[a]

,rent,bedroom,bathrooms,additional_rooms,balcany,brokarage,area,furnishing,avalable_for,address,...,gate_community,corner_pro,parking,wheelchairadption,petfacility,aggDur,noticeDur,lightbill,powerbackup,propertyage
25,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16770,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16796,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16822,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16848,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16874,NaN,NaN,NaN,Not given,0,NaN,None,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.shape

(16875, 23)

In [10]:
df.drop(a, inplace = True)

In [11]:
df.shape

(16245, 23)

In [12]:
df.isnull().sum()

rent                     0
bedroom                 78
bathrooms               57
additional_rooms         0
balcany               2142
brokarage             1441
area                     0
furnishing               6
avalable_for             0
address                  0
floor_number          1171
facing                5275
floor_type            6518
gate_community        6730
corner_pro           13944
parking               2568
wheelchairadption    13339
petfacility          12618
aggDur                   0
noticeDur                0
lightbill                0
powerbackup              0
propertyage             19
dtype: int64

### Rent Column processing

In [13]:
# remove ',' from rent value
df['rent'] = df['rent'].str.replace(',', '')
#rent in thousand & lacs convert into rupee
new_rent = []
for i in df.rent:
    if len(i.split()) == 1:
        new_rent.append(i)
    elif len(i.split())== 2:
        a = i.split()
        new_rent.append((float (a[0]))*100000)
    else:
        new_rent.append(i)

df['rent'] = new_rent
# change a single value from data to random number so that we can easily fill that values with other so we used 123456789
df['rent'] = df['rent'].str.replace('Price on Request', '123456789')
# 'finally covert the type of series'
df['rent']= df['rent'].astype(float)

In [14]:
df['rent'].isnull().sum()

132

### Additional rooms  columns processing

In [15]:
# based on unique values in colun we found that they provided 'Servant Room,Study Room,Pooja Room,Store Room'Others' 
# also some of houses dosen't have any extra room
# 
df['additional_rooms'].unique()

array(['Not given', 'Store Room', 'Others', 'Pooja Room',
       'Pooja Room,Study Room,Servant Room,Others', 'Study Room',
       'Servant Room', 'Study Room,Others', 'Study Room,Pooja Room',
       'Pooja Room,Study Room', 'Servant Room,Store Room',
       'Pooja Room,Servant Room', 'Pooja Room,Others',
       'Study Room,Servant Room,Others',
       'Pooja Room,Study Room,Servant Room',
       'Pooja Room,Servant Room,Others', 'Others,Pooja Room',
       'Others,Store Room', 'Others,Pooja Room,Study Room',
       'Pooja Room,Study Room,Servant Room,Store Room',
       'Study Room,Pooja Room,Servant Room,Store Room',
       'Servant Room,Others', 'Pooja Room,Store Room',
       'Pooja Room,Study Room,Others', 'Pooja Room,Study Room,Store Room',
       'Study Room,Servant Room,Others,Pooja Room',
       'Servant Room,Study Room,Others',
       'Store Room,Pooja Room,Study Room', 'Study Room,Servant Room',
       'Servant Room,Pooja Room',
       'Pooja Room,Store Room,Study Room,Servant Room',
       'Store Room,Pooja Room', 'Study Room,Others,Servant Room',
       'Study Room,Store Room', 'Others,Study Room',
       'Servant Room,Pooja Room,Store Room,Study Room',
       'Servant Room,Study Room,Pooja Room,Store Room',
       'Servant Room,Pooja Room,Study Room,Store Room',
       'Study Room,Others,Servant Room,Pooja Room',
       'Servant Room,Others,Pooja Room,Study Room',
       'Study Room,Pooja Room,Servant Room', 'Others,Servant Room',
       'Study Room,Servant Room,Store Room',
       'Others,Pooja Room,Study Room,Servant Room',
       'Study Room,Pooja Room,Store Room', 'Store Room,Study Room',
       'Store Room,Servant Room', 'Others,Servant Room,Study Room',
       'Others,Pooja Room,Store Room', 'Study Room,Pooja Room,Others',
       'Study Room,Store Room,Pooja Room',
       'Pooja Room,Store Room,Study Room',
       'Study Room,Pooja Room,Servant Room,Others',
       'Study Room,Servant Room,Store Room,Pooja Room',
       'Pooja Room,Study Room,Others,Servant Room',
       'Pooja Room,Servant Room,Study Room,Store Room',
       'Servant Room,Study Room,Pooja Room',
       'Pooja Room,Servant Room,Study Room', 'Servant Room,Study Room',
       'Pooja Room,Servant Room,Study Room,Others',
       'Others,Servant Room,Study Room,Pooja Room',
       'Servant Room,Pooja Room,Study Room',
       'Servant Room,Others,Pooja Room',
       'Servant Room,Study Room,Store Room',
       'Store Room,Servant Room,Pooja Room',
       'Study Room,Servant Room,Pooja Room',
       'Others,Study Room,Pooja Room'], dtype=object)

In [16]:
# create a chunk of list which each room binary value
pooja_room = []
servant_room = []
study_room = []
others= []
no_room = []
store_room = []

for i in df.additional_rooms:
    rooms = i.split(',')
    if 'Not given' in rooms:
        no_room.append(1)
    else:
        no_room.append(0)
        
        
    if 'Pooja Room' in rooms:
        pooja_room.append(1)
    else:
        pooja_room.append(0)
        
        
    if 'Study Room' in rooms:
        study_room.append(1)
    else:
        study_room.append(0)
    
    if 'Others' in rooms:
        others.append(1)
    else:
        others.append(0)
        
    if 'Servant Room' in rooms:
        servant_room.append(1)
    else:
        servant_room.append(0)
        
    if 'Store Room' in rooms:
        store_room.append(1)
    else:
        store_room.append(0)

# then create a columns & append binary values list 
df['no_room'] = no_room
df['pooja_room'] = pooja_room
df['study_room'] = study_room
df['others'] = others
df['servant_room'] = servant_room
df['store_room'] = store_room

In [17]:
df['additional_rooms'].isnull().sum()

0

### Balcony Column processing

In [18]:
## we have missing values & exxtra character called 3+ we replace a number with respective to that place (5)
df['balcany'].replace('3', 3.0, inplace =True)
df['balcany'].replace('3+', 5.0, inplace =True)
df['balcany'].replace('1', 1.0, inplace =True)
df['balcany'].replace('2', 2.0, inplace =True)
df['balcany'].replace('0', 0, inplace =True)
df.balcany.unique()

array([nan,  2.,  1.,  5.,  3.,  0.])

In [19]:
df['balcany'].fillna(0, inplace =True)
print('missing count',df.balcany.isnull().sum())
df['balcany'] = df['balcany'].astype(float)
df.balcany.unique()

missing count 0

array([0., 2., 1., 5., 3.])

### Bedroom Column Processing

In [20]:
# import numpy as np
df.bedroom.fillna(1, inplace  =  True )
df.bedroom = df.bedroom.astype(int)

### Bathroom column processing

In [21]:
df.bathrooms.fillna(1, inplace  =  True )
df.bathrooms = df.bathrooms.astype(int)

### Different amounts scrapping

In [22]:
df.brokarage.fillna('0',inplace = True)
df.brokarage = df.brokarage.str.replace('₹', '')
df.brokarage = df.brokarage.str.replace(',', '')
df.brokarage = df.brokarage.str.replace('-', '')

In [23]:
deposit = []
brokage = []
maintenance = []
import re
for i in df.brokarage:
    deposit.append((re.findall("D.*\w+", i)))
    brokage.append(re.findall('B.\w+.*\)',i))

In [24]:
for i in df.brokarage:
    a = (i.split(')')[0])
    if 'Maintenance' in a:
        maintenance.append(a)
    else :
        maintenance.append(0)

In [25]:
df['maintenance_amt'] = maintenance
df['brok_amt'] = brokage
df['deposit_amt'] = deposit

In [26]:
new_df = pd.DataFrame(df[['maintenance_amt','brok_amt','deposit_amt']])

In [27]:
new_df['maintenance_amt'] = new_df['maintenance_amt'].replace('/', ' ', regex =True).replace('Maintenance', "", regex = True).replace('\(', ' ', regex =True)

In [28]:
mnt_amt = []
for i in new_df['maintenance_amt']:
    data = str(i).split() 
    if 'month' in data:
        mnt_amt.append(float(data[0]))
    elif 'year' in data:
        mnt_amt.append(float(data[0])/12)
    elif 'one' in data:
        mnt_amt.append(float(data[0]))
    else:
        mnt_amt.append(float(data[0]))
len(mnt_amt) 
new_df['maintenance_amt']  = mnt_amt

#### Brokarage Amount

In [29]:
new_df['brok_amt'] = [' '.join(i) for i  in new_df['brok_amt']]
new_df['brok_amt'] = ["".join(re.findall ('[0-9]', i)) for i in new_df['brok_amt']]
new_df['brok_amt'] = new_df['brok_amt'].replace('', 0, regex =  True)
new_df.brok_amt = new_df.brok_amt.astype(float)

#### deposit

In [30]:
new_df['deposit_amt'] = [' '.join(i) for i  in new_df['deposit_amt']]
new_df['deposit_amt'] = ["".join(re.findall ('[0-9]', i)) for i in new_df['deposit_amt']]
new_df['deposit_amt'] = new_df['deposit_amt'].replace('', 0, regex =  True)

In [31]:
new_df.deposit_amt = new_df.deposit_amt.astype(float)

#### adding all amount to data frame

In [32]:
df['mnt_amt'] = new_df['maintenance_amt']
df['brok_amt'] = new_df['brok_amt']
df['deposit_amt'] = new_df['deposit_amt']

#### we are dropping area for now

### Furnishing Columns

In [33]:
df.furnishing.isnull().sum()
df.furnishing.unique()
df.furnishing.fillna('Unfurnishe', inplace = True)

### Address

In [34]:
df.address = [(' '.join(i.split()[1:])) for i in df.address]

### Floor_number

In [35]:
df.floor_number = [str(i)[0] for i in df.floor_number]
df.floor_number.unique()

array(['3', '2', '1', '4', '6', '5', 'n', '7', '8', 'G', '9', 'B', 'L'],
      dtype=object)

In [36]:
# n = Missing
# B = Bottom
# L = Last
# G = Groud 
# We fill n, G, B = 0 number  L maximum ie. 9

df['floor_number'] = df['floor_number'].replace('G', 0, regex =True).replace('B', 0, regex =True).replace('L', 9, regex =True).replace('n', 0, regex =True)

### Facing

In [37]:
df.facing.unique()

array(['South', 'North', nan, 'East', 'North-East', 'West', 'North-West',
       'South-East', 'South-West'], dtype=object)

In [38]:
df.facing.fillna('No Direction', inplace =True)

In [39]:
df.facing.isnull().sum()

0

### Floor_type

In [40]:
df.floor_type.fillna('Not provided', inplace =True)
df.floor_type.isnull().sum()

0

### gate_community

In [41]:
df.gate_community.unique()
df.gate_community.fillna('No', inplace =True)
df.gate_community.isnull().sum()

0

### Corner property

In [42]:
df.corner_pro.unique()
df.corner_pro.fillna('No', inplace =True)
df.corner_pro.isnull().sum()

0

### parking

In [43]:
df.parking.fillna("0", inplace =True)

In [44]:
df.parking = df.parking.replace('Covered','',regex =True).replace('Open', '', regex =True).replace(',', '', regex =True).replace(0, '0').replace(' ','')

In [45]:
parking = []
for i in df.parking:
    if  len(i.strip()) ==0 :
        parking.append(0)
    else:
        parking.append(i.strip()[0])
        
df.parking = parking

### wheelchairadption

In [46]:
df.wheelchairadption.unique()
df.wheelchairadption.fillna('None', inplace= True)
df.wheelchairadption.isnull().sum()

0

### petfacility

In [47]:
df.petfacility.unique()
df.petfacility.fillna('None', inplace= True)
df.petfacility.isnull().sum()

0

### aggDur

In [48]:
df.aggDur.unique()
df.aggDur.fillna('None', inplace= True)
df.aggDur = [i[0:2] for i in df.aggDur]
df.aggDur = (df.aggDur.replace('No', '0', regex = True)).astype(int)
df.aggDur.isnull().sum()

0

In [49]:
df.columns

Index(['rent', 'bedroom', 'bathrooms', 'additional_rooms', 'balcany',
       'brokarage', 'area', 'furnishing', 'avalable_for', 'address',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggDur', 'noticeDur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'maintenance_amt',
       'brok_amt', 'deposit_amt', 'mnt_amt'],
      dtype='object')

### noticeDur

In [50]:
df.noticeDur.unique()
df.noticeDur.fillna('None', inplace= True)
df.noticeDur = [i[0] for i in df.noticeDur]
df.noticeDur.unique()
df.noticeDur = df.noticeDur.astype(int)
df.noticeDur.isnull().sum()

0

### power backup

In [51]:
df.lightbill = df.lightbill.replace('Charges not included', 0, regex =  True).replace('Charges included', 1, regex= True )
df.lightbill.unique()

array([0, 1], dtype=int64)

### Power backup

In [52]:
df.powerbackup = df.powerbackup.replace('None', 0, regex =  True).replace('Partial', 1, regex= True ).replace('Full', 2, regex= True )
df.powerbackup.unique()

array([0, 1, 2], dtype=int64)

### Age

In [53]:
df.propertyage.unique()

array(['10+ Year Old', '5 to 10 Year Old', '1 to 5 Year Old',
       'Under Construction', '0 to 1 Year Old', nan], dtype=object)

In [54]:
df.propertyage.fillna('NO age', inplace =  True)

In [55]:
df.propertyage.isnull().sum()

0

### Area

In [56]:
df['area'] = df['area'].replace('Up', '', regex  = True).replace('area','', regex = True).replace(':', ' ', regex = True).replace('sq.ft.', '', regex = True)

In [57]:
# Carpet.*\(.*\)                     carpet
# Built.*C                           Built 
# Super.*B                       Super

no_area = []
super_area =[]
built_area = []
carpet_area = []
for i in df.area:
    carpet_area.append(re.findall( 'Carpet.*', i))
new_area = pd.DataFrame()
new_area['carpet_area'] = carpet_area
new_area['carpet_area'] = [''. join(i) for i in new_area['carpet_area'] ]
no_area = []
for i in new_area['carpet_area']:
    if (len(i)) == 0:
        no_area.append("0")
    else:
        no_area.append(i)
new_area['carpet_area'] = no_area


final_area = []
for i in new_area.carpet_area:
    area_sqft = (i.split())
    if len(area_sqft) == 1:
        final_area.append(int(area_sqft[0]))

    else:
        final_area.append(float(area_sqft[1]))

In [58]:
df['area'] = final_area

### Last missing value treatment

In [59]:
df.isnull().sum()

rent                 132
bedroom                0
bathrooms              0
additional_rooms       0
balcany                0
brokarage              0
area                   0
furnishing             0
avalable_for           0
address                0
floor_number           0
facing                 0
floor_type             0
gate_community         0
corner_pro             0
parking                0
wheelchairadption      0
petfacility            0
aggDur                 0
noticeDur              0
lightbill              0
powerbackup            0
propertyage            0
no_room                0
pooja_room             0
study_room             0
others                 0
servant_room           0
store_room             0
maintenance_amt        0
brok_amt               0
deposit_amt            0
mnt_amt                0
dtype: int64

In [60]:
df.rent.fillna(df.rent.mean(), inplace = True)

In [61]:
df.isnull().sum()

rent                 0
bedroom              0
bathrooms            0
additional_rooms     0
balcany              0
brokarage            0
area                 0
furnishing           0
avalable_for         0
address              0
floor_number         0
facing               0
floor_type           0
gate_community       0
corner_pro           0
parking              0
wheelchairadption    0
petfacility          0
aggDur               0
noticeDur            0
lightbill            0
powerbackup          0
propertyage          0
no_room              0
pooja_room           0
study_room           0
others               0
servant_room         0
store_room           0
maintenance_amt      0
brok_amt             0
deposit_amt          0
mnt_amt              0
dtype: int64

**Final step of data cleaning is dropping unneccesory columns**

In [62]:
df.drop(df.columns[[3, 5 , 4]], axis = 1, inplace = True)

In [63]:
df.shape

(16245, 30)

In [64]:
df.to_csv('final_data.csv', index_label =False)

In [65]:
df.shape

(16245, 30)